<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">
          {{ '::ContentKeywords' | abpLocalization }}
        </h5>
      </div>
      <div class="text-end col col-md-6">
        <div class="text-lg-end pt-2">
          <button
            *abpPermission="'CommonModule.Keywords.Create'"
            id="create"
            class="btn btn-dark"
            type="button"
            (click)="back()"
          >
            <i class="fas fa-arrow-circle-left me-1"></i>
            <span>{{ '::Back' | abpLocalization }}</span>
          </button>

          <button
            *abpPermission="'CommonModule.Keywords.Create'"
            id="create"
            class="btn btn-primary ms-1"
            type="button"
            (click)="createKeyword()"
          >
            <i class="fa fa-plus-square me-1"></i>
            <span>{{ '::Create' | abpLocalization }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-md-4">
        <select
          class="form-control"
          [(ngModel)]="selectedIdentityType"
          (ngModelChange)="onSearch()"
        >
          <option [value]="0">{{ '::SelectModule' | abpLocalization }}</option>
          <option *ngFor="let type of identityTypes" [value]="type.value">
            {{ '::Const:KeywordIdentity.' + type.value | abpLocalization }}
          </option>
        </select>
      </div>

      <!-- Search Bar -->
      <div class="col-md-8">
        <div class="input-group">
          <div class="input-group-prepend">
            <button type="button" class="btn bg-primary" (click)="onSearch()">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="{{ '::SearchWithThreeDot' | abpLocalization }}"
            [(ngModel)]="searchText"
            (keyup.enter)="onSearch()"
          />
        </div>
      </div>
    </div>

    <ngx-datatable [rows]="keyword.items" [count]="keyword.totalCount" [list]="list" default>
      <ngx-datatable-column [name]="'::Name' | abpLocalization" prop="name"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::ModuleName' | abpLocalization" prop="identityType">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ '::Const:KeywordIdentity.' + row.identityType | abpLocalization }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [name]="'::Actions' | abpLocalization"
        [maxWidth]="300"
        [sortable]="false"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="d-flex">
            <button class="btn btn-secondary btn-sm me-2" (click)="editKeyword(row)">
              <i class="fas fa-pencil-alt"></i>
              {{ '::Edit' | abpLocalization }}
            </button>
            <button class="btn btn-warning btn-sm me-2" (click)="viewKeyword(row)">
              <i class="fas fa-eye"></i>
              {{ '::View' | abpLocalization }}
            </button>
            <button class="btn btn-danger btn-sm" (click)="delete(row.id)">
              <i class="fas fa-trash"></i>
              {{ '::Delete' | abpLocalization }}
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
