<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <section class="content px-2">
        <div class="container-fluid">
          <div class="card"></div>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-1">
                <div
                  class="info-box-content"
                  style="cursor: pointer; text-align: center"
                  (click)="commonMaster('type')"
                >
                  <h2>
                    {{ "::Type" | abpLocalization }}
                  </h2>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <div
                  class="info-box-content"
                  style="cursor: pointer; text-align: center"
                  (click)="commonMaster('status')"
                >
                  <h2>
                    {{ "::Status" | abpLocalization }}
                  </h2>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <div
                  class="info-box-content"
                  style="cursor: pointer; text-align: center"
                  (click)="commonMaster('keyword')"
                >
                  <h2>
                    {{ "::Keyword" | abpLocalization }}
                  </h2>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <div
                  class="info-box-content"
                  style="cursor: pointer; text-align: center"
                  (click)="commonMaster('priority')"
                >
                  <h2>{{ "::Priority" | abpLocalization }}</h2>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <div
                  class="info-box-content"
                  style="cursor: pointer; text-align: center"
                  (click)="commonMaster('project')"
                >
                  <h2>
                    {{ "::Project" | abpLocalization }}
                  </h2>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <div
                  class="info-box-content"
                  style="cursor: pointer; text-align: center"
                  (click)="commonMaster('country')"
                >
                  <h2>
                    {{ "::Country" | abpLocalization }}
                  </h2>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <div
                  class="info-box-content"
                  style="cursor: pointer; text-align: center"
                  (click)="commonMaster('Industry')"
                >
                  <h2>
                    {{ "::Industry" | abpLocalization }}
                  </h2>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <div
                  class="info-box-content"
                  style="cursor: pointer; text-align: center"
                  (click)="commonMaster('Position')"
                >
                  <h2>
                    {{ "::Position" | abpLocalization }}
                  </h2>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <div
                  class="info-box-content"
                  style="cursor: pointer; text-align: center"
                  (click)="commonMaster('smtpsettings')"
                >
                  <h2>
                    {{ "::SMTPSettings" | abpLocalization }}
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
